/* COMMON */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
    
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 1vh;
    height: 1%;
    
}

/* Track scroll-bar */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(0, 0, 0);    
}

/* Handle scroll-bar */
::-webkit-scrollbar-thumb {
    background: rgb(76, 75, 75);
    border-radius: 4px;  
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex; 
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    
}

/* SIDE NAV */

.nav-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vh;    
    width: 13%;    
    position: relative;
    background-color: black;
    overflow: scroll;
    min-height: 90vh;
    color: #2a2a2a;
}

.home-box{    
    width: 100%;    
    display: flex;
    align-items: center;
    color: white;   
}

.home-box > h1{
    font-size: 30px;
    
}

.home-box img{
    width: 50px;
    padding: 0.6rem 0.6rem;
    filter: invert(100%);
    
}

.side-library{
    color: #2a2a2a; 
    width: 100%;
    display: flex;
    flex-direction: column;   
    border: 1px solid red;
    padding: 0.5rem;
    
}

.side-library img{
    height: 25px;    
    object-fit: contain;        
}

.side-library h5{
    margin: 0.2rem 0;
    color: #2a2a2a;
    display: inline-block;
    position: relative; 
    bottom:10px;   
}

.side-playlist{
    padding: 0.7rem;
    overflow: scroll;
    color: #ffffff;
}

.side-playlist div{
    margin: 0.8rem 0;
    font-weight: 450;
}

.side-playlist a{
    color: #2a2a2a;
}

.fa-plus{
    background-color: whitesmoke;
    font-size: 35px;
    padding: 0.2rem;
    color: black; 
    margin-right: 0.6rem; 
}

.profile{
    position: absolute;
    bottom: 12%;
    left: 1rem;
    padding:0 0.9rem;
    color: #2a2a2a;
}

.profile img{
    height: 25px;
    margin:0.2rem 0.6rem 0 0.3rem;
}

.profile a{
    margin: 0.3rem 0;
    display: block;
    color: #2a2a2a;
    font-size: 16px;
}
.profile h4{
    display: inline-block;
    color: #a59d9d;
    font-size: 20px;
    margin-top: 0.3rem;
}
/* SIDEBAR INTERACTION */

.side-library h5:hover,
.side-playlist a:hover,
.profile a:hover,
.profile h4:hover{
    color: white;   
}

/* MAIN APP */

/***** HEADBAR *****/

.main-container{
    display: flex;
    
    width: 87%;    
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    background-color: #141922;
    
}

.headbar{
    width: 100%;    
    background-color: #141922;    
}
.upgrade{
    background-color: #080b12;
    height: 5rem;
}

.upgrade > a{
    border: 1px solid whitesmoke;
    padding: 0.5rem 1.3rem;
    border-radius: 16px;
}

.headbar-button{
    display: flex;
    justify-content: center;
    padding: 1.5rem 4.5rem;
    gap: 1.8rem;
    color: #656565;   
}

.headbar-button > a{
    color: #656565;
    font-weight: 500;
}


/************ MAIN CONTENT ************/
/* COMMON MAIN */

.content-container{
    display: flex;    
    width: 100%;
    padding: 10vh 0;      
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    overflow: scroll;
    background-color: #141922;
    color: #ffffff;
}

.flex-row{
    display: flex; 
    gap: 1rem;
    flex-wrap: wrap ;
    padding: 1rem;
}

.prewiev{
    border: 1px solid red;
    width: calc((100% / 6) - 1rem );
    text-align: center;
    position: relative;
}

.for-u{
    width: 100%;
    margin: 1.3rem 0;
    padding: 1rem;
}

.radius{
    border-radius: 50%;
}

.playlist  h2,
.for-u  h2,
.for-u h3{
    padding-left: 1rem;
}


/* *** PLAYLIST *** */
.playlist{
    width: 100%;
    padding: 1rem;   
}

/*  *** SUGGESTIONS *** */

.prewiev > img{
    width: 100%;
    padding: 0.5rem;       
}

.prewiev h4,h5{
    margin:0.4rem 0;
    color: whitesmoke;
}

/* MAIN INTERACTION */

.upgrade > a:hover{
    font-size: 20px;
}

.headbar-button hr{
    width:40%;
    margin: 2% 30%;
    border: 1px solid rgb(10, 247, 10);
    visibility: hidden;
    box-shadow: 0 0 10px rgba(10, 247, 10, 0.8);
}

.headbar-button a:hover{
    hr{
        visibility: visible;
    }
}  
 
.invisible{
    position: absolute;
    bottom: 50% ;
    left: 35%;
    font-size: 80px;
    color: #ffffff;
    visibility: hidden;
}

.prewiev:hover{
    .invisible{ 
        visibility: visible;
        box-shadow:0px 0px 15px  rgba(255, 255, 255, 0.8);
        border-radius: 50%;
    }
}



/* ***TOOLBAR*** */

.toolbar{
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    background-color: #282828;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}
.toolbar a{
    color: #ffffff;
}

.playerleft{
    width: 15%;
    display: flex;
    justify-content: space-between;
    
    gap: 1rem;
    padding: 1rem;   
}

.playerleft img{
    height: 100%; 
    object-fit: contain;  
}

.img-album{ 
    height: 100%;
}


.playerleft a{
    font-size: 18px;
    color: #5a5a5a;
    margin: 0 0.18rem;
}

.playerleft h4{
    color: #5a5a5a;
    font-size: 13px;
}

.playercenter{
    width: 60%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.playercenter a{
    font-size: 18px;
    margin: 0 0.7rem;
}

.playercenter .fa-circle-play {
    font-size: 26px;
    margin: 0 1.5rem;
}

.timebar{
    height: 0.25vh;
    background-color: red;
    background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(193,193,193,1) 37%, rgba(202,202,202,1) 37%, rgba(90,90,90,1) 37%);
    width: 35vw;
}

.playerright{
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}
.volume-bar{
    height: 2px;
    background-color: red;
    background: linear-gradient(90deg, rgba(193,193,193,1) 0%, rgba(193,193,193,1) 37%, rgba(202,202,202,1) 37%, rgba(90,90,90,1) 37%);
    width: 5vw;
}

/********* RESPONSIVE ********/
/* XS SCREEN 0-->480 */

@media screen and (max-width:480px) {
    /* COMMON */
    h3,h4{
        font-size: 10px;
    }
    
    /* SIDENAV */
  
    .home-box h1{
        display: none;
    }
    .side-library h5 {
        display: none;
    }
    .side-playlist {
        display: none;
    }
    .profile{
        position: absolute;
        bottom: 8%;
        left: 0;        
    }
    .profile h4,hr{
        display: none;
    }

    /* MAIN APP */
    /* HEADBAR */
  
    .headbar-button{
        flex-wrap: wrap;
        gap: 0.5rem;
        padding:1.5rem 0.3rem;
        font-size: 14px;
        white-space: nowrap;   
    }

    .prewiev{
        border: 1px solid red;
        width: calc((100% / 2) - 1rem );
    }

    /* TOOLBAR */
    .toolbar{
        height: 65px;
    }

    .playerleft{
        width: 25%;
        justify-content: space-between;              
        padding: 0.9rem 0.1rem;
        gap: 0.25rem;   
    }
     
    .playerleft div h3{
        font-size: 8px;  
    }

    .playerleft div h4{
        font-size: 8px;
    }

    .playerleft div a{
        font-size: 8px;  
    }
    
    .playercenter{
        width: 50%;
        padding: 0.3rem;
        margin: 0;
    }
    
    .playercenter a{
        font-size: 10px;
        margin: 0 0.2rem;   
    }
    
    .timebar{
        width: 25vw;
    }
    
    .playerright{
        width: 25%;
        gap: 0.02rem;
        padding: 2rem 0;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .volume-bar{
        height: 2px;
        background-color: red;
        width: 7vw;
    }
}

/* SMALL SCREEN 480-->768 */

@media screen and (min-width:481px) and (max-width:768px) {
    /* COMMON */
    h3,h4{
        font-size: 10px;
    }
    
    /* SIDENAV */
    .nav-container{
        width: 32%;
    }
    
    .profile{
        position: absolute;
        bottom: 10%;
        left: 0;        
    }
    .profile h4{
        display: inline-block;
    }
    
    /* MAIN APP */
    /* HEADBAR */
    .main-container{
        width: 68%;
    }
    
    .headbar-button{
        flex-wrap: wrap;
        gap: 1.6rem;
        padding:1.5rem ;
        font-size: 18px;       
        white-space: nowrap;   
    }

    .prewiev{
        border: 1px solid red;
        width: calc((100% / 2) - 1rem );
    }

    /* TOOLBAR */
    .toolbar{
        height: 65px;
    }
    .playerleft{
        width: 25%;        
        padding: 0.6rem; 
    }
    
    .playerleft img{
        height: 5vh;   
    }

    .playerleft div a{
        font-size: 10px;
    }
    
    .playercenter{
        width: 50%;
        padding: 0.3rem;
        margin: 0;
    }
    
    .playercenter a{
        font-size: 10px;   
    }
    
    .timebar{
        width: 25vw;
    }
    
    .playerright{
        width: 25%;
        gap: 0.02rem;
        padding: 2rem 0;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .volume-bar{
        height: 2px;
        background-color: red;
        width: 7vw;
    }

    
}

/* MEDIUM SCREEN 769---> 1024 */

@media screen and (min-width:769px) and (max-width:1024px) {
    /* COMMON */
    h3,h4{
        font-size: 15px;
    }
    
    /* SIDENAV */
    .nav-container{
        width: 30%;
    }
    
    .profile{
        position: absolute;
        bottom: 10%;
        left: 0;        
    }
    .profile h4{
        display: inline-block;
    }
    
    /* MAIN APP */
    /* HEADBAR */
  
    
    .headbar-button{
        flex-wrap: wrap;
        gap: 1.3rem;
        padding:1.5rem ;
        font-size: 16px;       
        white-space: nowrap;   
    }

    .prewiev{
        border: 1px solid red;
        width: calc((100% / 4) - 1rem ); 
    }

    /* TOOLBAR */

    .toolbar{
        height: 65px;
    }
    .playerleft{
        width: 25%;        
        padding: 0.6rem; 
        justify-content: space-between;
    }
    
    .playerleft img{
        height: 5.8vh;   
    }

    .playerleft div a{
        font-size: 15px;
    }

    .playercenter{
        width: 50%;
        padding: 0.3rem;
        margin: 0;
    }
    
    .playercenter a{
        font-size: 10px;   
    }
    
    .timebar{
        width: 25vw;
    }
    
    .playerright{
        width: 25%;
        gap: 0.02rem;
        padding: 2rem 0;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .volume-bar{
        height: 2px;
        background-color: red;
        width: 7vw;
    }

}

/* LARGE SCREEN 1024-->1280 */

@media screen and (min-width:1025px) and (max-width:1280px) {
    /* COMMON */
    h3,h4{
        font-size: 15px;
    }
    
    /* SIDENAV */
    .nav-container{
        width: 30%;
    }
    
    .profile{
        position: absolute;
        bottom: 10%;
        left: 0;        
    }
    .profile h4{
        display: inline-block;
    }
    
    /* MAIN APP */
    /* HEADBAR */
  
    .headbar-button{
         white-space: nowrap;   
    }

    /* TOOLBAR */

    .toolbar{
        height: 65px;
    }
    .playerleft{
        width: 25%;        
        padding: 0.6rem; 
        justify-content: space-between;
    }
    
    .playerleft img{
        height: 5.8vh;   
    }

    .playerleft div a{
        font-size: 15px;
    }

    .playercenter{
        width: 50%;
        padding: 0.3rem;
        margin: 0;
    }
    
    .playercenter a{
        font-size: 10px;   
    }
    
    .timebar{
        width: 25vw;
    }
    
    .playerright{
        width: 25%;
        gap: 0.02rem;
        padding: 2rem 0;
        flex-wrap: wrap;
        font-size: 10px;
    }

    .volume-bar{
        height: 2px;
        background-color: red;
        width: 7vw;
    }

}

/* EXTRALARGE SCREEN 1280> ---> DEFAULT(DESKTOP FIRST TESTED ON ODISSEYG5) */

/* MAX HEIGHT 350px TESTED*/ 